#container {
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.completed {
    color: gray;
    text-decoration: line-through;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    background: #00BED6;
}

li {
    background: white;
    height: 40px;
    line-height: 40px;
    color: #666;
    padding: 13px 13px 13px 20px;
}

.fa-plus {
    float: right;
}

input {
    font-size: 18px;
    background-color: #f7f7f7;
    width: 91%;
    color: #2980b9;
    padding: 13px 13px 13px;
    border: 3px solid rgba(0, 0, 0, 0);
}

input:focus{
    background: white;
    border: 3px solid #2980b9;
    outline: none;
}

li:nth-child(2n){
    background: #f7f7f7;
}

li:hover span {
    width: 40px;
    opacity: 1.0; 
}

span {
    background: #e74c3c; 
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear; 
    opacity: 0;
}

h1 {
    background: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
}